<div class="all">
    <div class="content">
        <div class="row">
            <img src="../../../assets/Images/Eekp_lMWAAACP7L.jpg" alt="">
            <div class="card">
                <p>Entreprise du Groupe ICCNET créée le 01 Janvier 2003 et qui a héritée des nombreuses années (19) d’expérience et de savoir-faire éprouvé de ICCNET dans le domaine logiciels, ICCSOFT (International Computer Center Software) est une Société de Services et d’Ingénierie en Informatique.)</p>
            </div>
        </div>
       <div class="line">
        <button class="btn-dot" (click)="Managedialog()">Comment fonctionne t'il ?</button>
       </div>
       <div class="start">
           <h1><button (click)="Closedialog()" class="cancel">x </button></h1> 
       </div>
    </div>
</div>
