<div class="all">
    <div class="content">
        <h1>Une équipe motivée et dévoué pour vous satisfaire </h1>
        <div class="card">
            <p>
                Pour atteindre ces objectifs, ICCSOFT dispose d’une équipe  d’ingénieurs et  techniciens experte. Elle bénéficie également de l’appui permanent de ses consultants et partenaires. ICCSOFT est le meilleur prestataire des services pluridisciplinaires destinés aux entreprises privées, parapubliques, et aux organisations.
A ce titre, elle leur garantie une offre complète et évolutive des produits et services à valeur ajoutée et met à leur disposition ses multiples compétences pour optimiser leur gestion.
Son positionnement dans les métiers de gestion et de finance vise à réaliser chaque jour cet objectif auprès de ses clients.
ICCSOFT a dès son origine, fait le choix d’être proche de sa clientèle. C’est pourquoi, elle a déployé un réseau et un support technique composés des techniciens et consultants aux compétences prouvées, prêts à vous apporter leur expertise et leur savoir-faire pour vous satisfaire

            </p>
        </div>
        <button class="btn" (click)="Closedialog()">Je comprends</button>
    </div>
</div>