<div class="all">
    <div class="content">
        <h1>Nos solutions pour toutes vos opérations !
        </h1>
        <div class="card">
            <ul>
                <br>
                <li><mat-icon><span class="material-symbols-outlined">
                    assistant_direction
                    </span></mat-icon> Opérations de guichet</li>
                <li><mat-icon><span class="material-symbols-outlined">
                    assistant_direction
                    </span></mat-icon>gestion des caisses</li>
                <li><mat-icon><span class="material-symbols-outlined">
                    assistant_direction
                    </span></mat-icon>gestion des crédits et découverts</li>
                <li><mat-icon><span class="material-symbols-outlined">
                    assistant_direction
                    </span></mat-icon>gestion comptables</li>
                <li><mat-icon><span class="material-symbols-outlined">
                    assistant_direction
                    </span></mat-icon>gestion de la collecte quotidienne  et bien d’autres fonctionnalités...</li> 
            </ul>
            <p>
                Sans oublier la gestion de la Paie, des Immobilisation, du Budget, le SMS-Banking qui sont des modules générateurs de revenu et qui constituent une véritable valeur ajoutée pour votre institution
            </p>
        </div>
        <button class="btn" (click)="Closedialog()">Je comprends</button>
    </div>
</div>